@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Lato&display=swap");

.company {
  font-family: arimo;
  font-weight: 700;
  font-style: bold;
  font-size: 45.12px;
  line-height: 52px;
  line-height: 100%;
  fill: Solid;
  color: #1a1a1a;
}

.title {
  font-family: arimo;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  fill: Solid;
  color: #1a1a1a;
}

.cart {
  width: 18px;
}
.toggle {
  width: 18px;
  position: relative;
  left: 25px;
}

.svg {
  width: 20px;
}
@media only screen and (max-width: 768px) {
  .icon {
    margin: 4rem 2rem 2rem 2rem;
    justify-content: space-between !important;
  }

  .navbar-collapse {
    margin: 2rem;
  }
  .toggle {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .icon {
    margin: 4rem 2rem 2rem 2rem;
    justify-content: space-between !important;
  }
  .navbar-collapse {
    margin: 2rem;
  }
  .toggle {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .icon {
    margin: 4rem 2rem 2rem 2rem;
    justify-content: space-between !important;
  }
  .navbar-collapse {
    margin: 2rem;
  }
  .toggle {
    display: none;
  }

  /* . {
     
    } */
}

/* margin-top: 3rem; */
/* margin: 3rem; */
/* /* text-decoration: underline; */
