.error_bar {
    height: 80vh;
    padding-top: 100px;
}

.titles {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 99px;
    color: #1A1A1A;
}

.title_bar {
    padding: 20px 0;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 53px;
    color: #1A1A1A;
}

.desc {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    color: #4D4D4D;
}

.line {
    border-bottom: 2px solid #1A1A1A;
    width: 120px;
}

.line_bar {
    padding-top: 40px;
}

.homepage {
    text-decoration: none;
    cursor: pointer;
}