.content {
  height: 16em;
  background: url('../assets//background/bg.png');
}

.favorite {
  padding-top: 40px;
  padding-left: 84px;
  font-size: 16px;
  font-weight: 400;
}

.arrow {
  padding-left: 20px;
  color: #919191;
}
.content-favorite {
  text-align: center;
  font-size: 50px;
}
.text {
  text-align: center;
}

.line-top {
  text-align: center;
  width: 100%;
  margin-top: 80px;
  opacity: 30%;
  padding-bottom: 20px;
  border-top: 1px solid black;
}

.text-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-price {
  padding-right: 380px;
}
.text-stock {
  padding-left: 260px;
}

.content-border-botom {
  opacity: 30%;
  border-bottom: 1px solid black;
  padding-top: 20px;
  margin-bottom: 40px;
}