@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap");

.home__bar {
    background-image: url("../assets/homepage/img_jumbotron.png");
    height: 900px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home__bar h1 {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 87px;
    text-align: center;
    color: #1a1a1a;
}

.home__bar p {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    color: #4d4d4d;
    padding-bottom: 30px;
}

.images {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.explore {
    padding-top: 110px;
}

.explore p {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #4d4d4d;
    padding-bottom: 30px;
}

.content__home {
    width: auto;
    height: 366px;
    padding-top: 340px;
}

.line {
    border-bottom: 3px solid #1a1a1a;
    width: 120px;
    position: relative;
    top: -9px;
    left: 11px;
}

/* content article left */
.content_article_right {
    width: 560px;
    /* height: 374px; */
}

.content_article_right div h1 {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #1a1a1a;
    padding-bottom: 25px;
}

.content_article_right div>p {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    color: #4d4d4d;
    padding-bottom: 60px;
}

/* content article right */

.content_article_left {
    width: 560px;
    height: 374px;
}

.content_article_left div h1 {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #1a1a1a;
    padding-bottom: 25px;
}

.content_article_left div>p {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    color: #4d4d4d;
    padding-bottom: 60px;
}

/* services */
.services__bar {
    width: 100%;
    height: 100%;
    background: #161616;
    color: #ffffff;
    padding: 50px 0;
}

.services__bar__title {
    width: 80%;
    margin: 0 auto;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 55px;
}

.services__line {
    width: 72px;
    border-bottom: 2px solid #d8d8d8;
}

.services__ceo {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #ffffff;
    padding-bottom: 100px;
}

.arrows {
    cursor: pointer;
}

.arrow {
    /* transition: updown 3s ease-in-out infinite; */
    animation: 3s MoveUpDown ease-in-out infinite alternate;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }
}

@media only screen and (max-width: 992px) {

    /*Tablets [601px -> 1200px]*/
    .content_article_right {
        width: 100%;
        padding: 20px;
    }

    .content_article_right div h1 {
        font-size: 2rem;
        padding-bottom: 40px;
    }

    .content_article_left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .content_article_left div>p {
        padding-bottom: 20px;
    }

    .content_article_left div h1 {
        font-size: 2rem;
    }

    .services__bar__title {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 800px) {
    .explore {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .home__bar h1 {
        font-size: 3.5rem;
    }

    .content__home {
        padding-top: 300px;
        height: auto;
    }

    .explore {
        padding-top: 150px;
        padding-left: 0;
    }
}

@media only screen and (max-width: 576px) {

    .content__home {
        padding-top: 130px;
        height: auto;
    }

    .explore {
        padding-top: 80px;
        padding-left: 0;
    }

    .content__left {
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .content_article_right {
        padding: 25px;
    }


}