.breadcrumb__bar {
    background-image: url("../assets/background/bg.png");
    height: 250px;
    padding: 40px 80px;
}

.breadcrumb a {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #1A1A1A;
    text-decoration: none;
}

.input__bar input {
    font-size: 1rem;
    padding: 20px 0 20px 20px;
    width: 100%;
    height: 70px;
    border: 1px solid #CECECE;
}

.content_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.content_right {
    padding: 0 80px;
}

.btn_track {
    padding: 22px 55px;
    background: #262626;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.3s;
}

.btn_track:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 992px) {

    /*Big smartphones [426px -> 600px]*/
    .breadcrumb__bar {
        padding: 20px;
    }

    .content_right {
        padding: 0 20px;
    }
}