.title-container {
  background: url(../assets/background/bg.png);
  height: 15.5em;
  width: 100%;
  margin: 0 auto;
}

.title-container .title {
  margin: 0 auto;
  text-align: center;
  color: #333;
}

.title-container .title h1 {
  padding-top: 1em;
  padding-bottom: 8px;
  font-size: 4em;
}

.form-container {
  display: flex;
  justify-content: center;
  padding-top: 5em;
  padding-bottom: 10em;
  gap: 1em;
  max-width: 1440px;
}

.form-container .form-forgot h1 {
  padding-bottom: 10px;
}

.form-container .input-box {
  padding-top: 1.5em;
}

.form-container .input-box input {
  display: flex;
  width: 34em;
  height: 3.5em;
  margin-bottom: 0.5em;
  padding-left: 15px;
  border-bottom: 2px solid black;
}

.form-container .input-box input {
  /* border:0; */
  outline:0;
}

.form-container .input-box input:focus {
  outline: none!important;
}

.form-forgot .forgot-btn {
  padding-top: 1.6em;
}

.form-forgot button {
  background-color: black;
  border: none;
  height: 3em;
  width: 8em;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .form-container {
    flex-direction: column;
  }

  .form-container .input-box input {
    width: 100%;
  }
}