@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Lato&display=swap");

.cont-fluid {
  background-image: url("../assets/background/bg.png");
}

.profile {
  font-weight: 400;

  font-family: Arimo;
  font-style: Regular;
  font-size: 56px;
  line-height: 64px;
  line-height: 100%;
  vertical-align: Top;
  fill: Solid #1a1a1a;
}
.text-profile {
  font-weight: 400;
  margin-top: 1.6rem;
  font-family: Arimo;
  font-style: Regular;
  font-size: 16px;
  line-height: 64px;
  line-height: 100%;
  vertical-align: Top;
  fill: Solid #1a1a1a;
}
.table {
  margin-bottom: 5rem;
}
.product {
  width: 30rem;
}
.stock {
  height: 11rem;
  gap: 1rem;
  justify-content: center;
}
.price {
  height: 11rem;
  /* gap: 1rem; */
  justify-content: space-evenly;
}
.price-title {
  text-align: center;
}
